.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 80vh;
    gap: 1%;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.button {
    width: 95%;
}

.searchWrapper {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.list {
    margin: 16px;
}

.mainSection {
    /* margin-left: 2vh; */
}

.textContent {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    text-indent: 0;
    margin: 2%;
}

.textBoxWrapper {
    width: 95%;
    margin: 15% auto 2%;
}