.root {
    padding: 32px;
}

.header {
    display: flex;
    margin-bottom: 24px;
}

.title {
    line-height: 48px;
    margin-right: 60px !important;
    margin-bottom: 0;
}

.split {
    height: 36px;
}
